<%- include('partials/header') -%>

    <div id="cameraOutput" width="80vw">

    </div>

    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script>


        function onScanSuccess(decodedText, decodedResult) {
            if(/^(ftp|http|https):\/\/[^ "]+$/.test(decodedText)) {
                html5QrcodeScanner.clear();
                window.location.replace(decodedText);
            }
            else console.log("Faulty Link");
            // Handle on success condition with the decoded text or result.
            console.log(`Scan result: ${decodedText}`, decodedResult);
        }

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "cameraOutput", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);

    </script>
    <%- include('partials/footer') -%>