<%- include('partials/header') -%>

  <div id="main-content" class="container mt-5 flex-grow-1">
    <!-- ######################################## -->
    <!-- # HOME PAGE                            # -->
    <!-- ######################################## -->
    <div class="page" id="content-home">

      <h1>Welcome to Atko Retail!</h1>
      <p>Need help deciding what you need? Check into our store and a sales assistant will be with you in no time!</p>
      <button class="payButton" onclick="startQrScanning()">Check into our store!</button>

      <div id="cameraOutput" width="80vw">

      </div>
      <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
      <script>
        var html5QrcodeScanner;
        function onScanSuccess(decodedText, decodedResult) {
            if(/^(ftp|http|https):\/\/[^ "]+$/.test(decodedText)) {
                html5QrcodeScanner.clear();
                window.location.replace(decodedText);
            }
            else console.log("Faulty Link");
            // Handle on success condition with the decoded text or result.
            console.log(`Scan result: ${decodedText}`, decodedResult);
        }
        function startQrScanning() {
          html5QrcodeScanner = new Html5QrcodeScanner(
            "cameraOutput", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);
        }
        
      </script>
    </div>
  </div>
  <%- include('partials/footer') -%>