<%- include('partials/header') -%>
    <h2 style="text-align: center; margin: 20px;">Your open orders</h2>
    <div class="orders">
    </div>

    <div class="payModal">
        <h3>Payment: 89,76€</h3>
        <label for="paymentProvider">Choose your payment method:</label>
        <select id="paymentProvider">
            <option>PayPal (Preferred)</option>
            <option>Miles & More</option>
            <option>Okta Coin</option>
        </select>
        <button class="payButton" id="confirmOrder" onclick="pay()">
            Place order
        </button>
    </div>
    <script>
        function loadOrders() {
            fetch("/api/orders").then(orders => {
                orders.json().then(orderArray => {
                    console.log(orderArray);
                    orderArray.forEach(order => {
                        console.log(order);
                        if (order.order_id.payed) return;
                        const date = new Date(order.order_id.order_date);
                        let htmlstring = `
                        <div class="order">
                        <details>
                            <summary>
                                ${date.getDate()}.${date.getMonth()}.${date.getFullYear()} - ${order.items.length} Items
                            </summary>
                        `
                        order.items.forEach(item => {
                            htmlstring += `
                            <div class="item">
                                <div class="description">${item.item}</div>
                                <div class="price">${item.price}</div>
                            </div>
                            `
                        })
                        htmlstring += `
                        </details>
                        <button class="payButton" onclick="showPayModal()">Complete order</button>
                        </div>`;
                        console.log(htmlstring);
                        document.querySelector(".orders").innerHTML += htmlstring;
                    })


                })
            })
        }
        function showPayModal() {
            document.querySelector(".payModal").style.display = "block";
        }
        function pay() {
            const button = document.querySelector("#confirmOrder");
            button.style.height = "128.23px";
            setTimeout(() => {
                button.innerHTML = `<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>`;
                setTimeout(() => {
                    button.style.opacity = 0;
                    button.style.height = "65px";
                    setTimeout(() => {
                        button.style.opacity = "100%";
                        button.innerHTML = "Order confirmed!";
                        button.style.background = "lightgreen";
                    }, 500);
                }, 2000)
            }, 500)

        }
        loadOrders();
    </script>
    <%- include('partials/footer') -%>