.page {
    margin: 40px 20px;
    text-align: center;
}
.profileContainer {
    padding: 40px 0;
}
.navIndicator {
    margin-right: 10px;
    display: inline-block;
}
.loyaltyCards {
    display: block;
    text-align: left;
    margin: 20px 10px;
    padding: 20px;
    background-color: #c0c0c0;
    border-radius: 20px;
}
.loyaltyCard {
    padding: 20px;
    background: whitesmoke;
    width: 80%;
    border-radius: 5px;
    margin: 10px 0;
}
.inactiveCards .loyaltyCard {
    opacity: .5;
}
.loyaltyCta {
    display: flex;
    align-items: center;
}

.payButton {
    display: block;
    margin: 20px auto;
    padding: 20px 30px;
    background-color: lightblue;
    transition: all .5s;
    height: 70px;
}

.orders .payButton {
    margin: 10px auto;
    padding: 10px 50px;
}

.order {
    padding: 30px;
    margin: 20px;
    border: 1px solid;
    border-radius: 20px;
}
.order summary {
    font-weight: bold;
}
.order .item {
    display: flex;
    justify-content: space-between;
}

.payModal {
    display: none;
    position: absolute;
    bottom: 0;
    margin: 0 5%;
    padding: 50px;
    box-shadow: 0 0 10px;
    width: 90%;
    height: 60%;
    background: white;
    overflow-y: scroll;
}
.payModal select {
    text-decoration: underline;
}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  